<h2>Hello, {{users.username}}</h2>

<div class="streams-title">
    YOUR PROJECTS
</div>

{{#if projects.length}}
{{#each projects as |project| }}

<a href="projects/{{id}}" id="blog-name">
    <div class="stream-card">
        <div class="card-info">
            <h2 class="title">
                {{title}}
            </h2>
            <h3>By {{users.username}}</h3>

            <p>{{description}}</p>
            <p class="">Created on <span>{{projects_date}}</span></p>
        </div>
    </div>
</a>
{{/each}}


{{else}}
<h2>NO UPCOMING PROJECTS </h2>
<br><br><br>

{{/if}}

<a href="/dashboard/create">
    <h2 class="create-title"> CREATE NEW PROJECT </h2>
</a>