{{#if logged_in}}

<div class="streams-title">

    UPCOMING STREAMS

</div>
{{#each projects as |project| }}

<a href="/api/projects/{{id}}" id="blog-name">
    <div class="stream-card">
        <div class="card-info">
            <h2 class="title">
                {{title}}
            </h2>
            <h3>By {{username}}</h3>

            <p>{{description}}</p>
            <p class="">Created on <span>{{projects_date}}</span></p>
        </div>
    </div>
</a>
{{/each}}

<a href="/api/create">
    <h2 class="create-title"> CREATE NEW PROJECT </h2>
</a>
{{/if}}
<script src="./js/homepage.js"></script>